.header {
  width: 100%;
  background: #2e0052;
  color: white;
  z-index: 9999;
  padding: 10px;
  /* max-width: 1500px; */
}

.header__container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container h6 {
  color: white;
}

.header__container__item {
  display: flex;
  align-items: center;
}

.header__container__icon {
  margin-right: 5px;
}

.footer {
  width: 100%;
  background: #2e0052;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 10px;
  text-align: center;
}

@media (max-width: 450px) {
  .header,
  .footer {
    display: none;
  }
}
